.container-menu-Mobile{
    z-index: 60;
    display: none;
}
.mobi-name-icon span{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(218, 218, 218);
    font-weight: bold;

}
.mobi-name-icon{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}
@media (max-width:480px) {
    html{
        height: 100%;
        max-height: 55px;
      }
    .container-menu-Mobile{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
    }
    .barraespaco{
        height: 55px;
    }
    .Pai-menu-mobile{
        display: flex;
     width: 100%;
     height: 100vh;
     align-items: center;
     justify-content: space-around;
     max-height: 55px;
        background-color: rgb(5, 5, 5);
    }
    .div-opcoes-mobile{
        max-width:39px ;
        max-height:39px ;
        width:100% ;
        height:100% ;
        align-items: center;
        justify-content: center;
        display:flex ;
    }
    .div-opcoes-mobile a, button {

        font-family: sans-serif;
       color: white;
       
    }
    .div-opcoes-mobile a, button:hover{

    }
    .icon-menu-Mobile{
        width: 18px;
        height: 18px;
    }
    .home-mobile{
        
        align-items: center;
        justify-content: center;
        display:flex ;
        border-radius: 50%;
        max-width:35px ;
        max-height:35px ;
        width:100% ;
        height:100% ;
        
    }
    .button-Sair-Mobile{
        background-color: transparent;
        border: none;
    }
}
@media (min-width:481px) and (max-width:767px){
    .container-menu-Mobile{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
    }
   
    .Pai-menu-mobile{
        display: flex;
     width: 100%;
     height: 100vh;
     align-items: center;
     justify-content: space-around;
     max-height: 37px;
        background-color: rgb(5, 5, 5);
    }
    .div-opcoes-mobile{
        max-width:39px ;
        max-height:39px ;
        width:100% ;
        height:100% ;
        align-items: center;
        justify-content: center;
        display:flex ;
    }
    .div-opcoes-mobile a, button {

        font-family: sans-serif;
       color: white;
       
    }
    .div-opcoes-mobile a, button:hover{

    }
    .icon-menu-Mobile{
        width: 18px;
        height: 18px;
    }
    .home-mobile{
        
        align-items: center;
        justify-content: center;
        display:flex ;
        border-radius: 50%;
        max-width:35px ;
        max-height:35px ;
        width:100% ;
        height:100% ;
        background-color: rgb(54, 54, 54);
    }
    .button-Sair-Mobile{
        background-color: transparent;
        border: none;
    }

}
@media (min-width:768px) and (max-width:991px){
    .container-menu-Mobile{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
    }
    .Pai-menu-mobile{
        display: flex;
     width: 100%;
     height: 100vh;
     align-items: center;
     justify-content: space-around;
     max-height: 37px;
        background-color: rgb(5, 5, 5);
    }
    .div-opcoes-mobile{
        max-width:39px ;
        max-height:39px ;
        width:100% ;
        height:100% ;
        align-items: center;
        justify-content: center;
        display:flex ;
    }
    .div-opcoes-mobile a, button {

        font-family: sans-serif;
       color: white;
       
    }
    .div-opcoes-mobile a, button:hover{

    }
    .icon-menu-Mobile{
        width: 18px;
        height: 18px;
    }
    .home-mobile{
        
        align-items: center;
        justify-content: center;
        display:flex ;
        border-radius: 50%;
        max-width:35px ;
        max-height:35px ;
        width:100% ;
        height:100% ;
        background-color: rgb(54, 54, 54);
    }
    .button-Sair-Mobile{
        background-color: transparent;
        border: none;
    }
}