
.container-login{
    background: linear-gradient(87deg,#5dbde6 00%, #0b2a54 95%);
}


.GoogleLoginIcon{
       cursor: pointer;
   width: 25px;
   height: 25px;
   margin-left: 12px;
   margin-right: 10px;
}
.textLoginGG{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  
}
.iconGoogleDiv{
    background-color: white;
    border-radius: 10px;
    width: 55%;
    display: flex;
    height: 50px;
    align-items: center;
    cursor: pointer;
& span{
    font-size: 14px;
    font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
  color: #1F1F1F;
}
    
   
}
.img-login{
    width: 100%;
    height: 100vh;
    display: flex;
}
.img-login img{
    width: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;

}
.image-login{
   display: grid;
   grid-template-columns: 60% 40%;

}
.div-form{
    width: 100%;
    display: flex;
 
    justify-content: center;
}
.containerLoginGg{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.form-login-div{
    align-items: center;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
width: 100%;

color: rgb(255, 255, 255);
height: 100vh;
box-shadow: 0px 0px 70px 80px #335e86;


}
.form-login{
 width: 80%;

}
.entrar{
  margin-bottom: 10px;  
}
.entrar span{
    
font-size: 20px;
font-weight: 700;
color: white;
font-family: sans-serif;
}
.form-login input::placeholder{
    color: rgb(255, 255, 255);
}
.title-login span{
color: #5dbde6;
font-size: 3.4rem;
font-weight: bold;
cursor: default;
}
.title-login {

   width: 100%;
   position: relative;
   top: 0px;
   text-align: center;
   justify-content: center;
   
}
.form-login input{
    border-radius: 8px;
    padding: 5px;
    background-color: #e58f83;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
width: 100%;
margin-bottom: 30px;
max-width: 80%;
height: 100%;
max-height: 50px;
}
.div-bnt-login{
    width: 40%;
    height: 50px;
}
.div-bnt-login button{
    cursor: pointer;
    background-color: #e58f83;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 17px;
    cursor: pointer;
 width: 100%;
height: 100%;
}
.cad-login{

  display: flex;
  justify-content: center;
   
}
.cad-login span{
    font-size: 16px;
    font-family: "Roboto", system-ui;
}
.link-span{
    font-weight: 600;
    color: rgb(199, 199, 199);
}
.link-span:hover{
    color: rgb(255, 255, 255);
}
.texto-link{
 color: rgb(255, 255, 255);   
}

