.GoogleLoginIcon{
    
    
    width: 40px;
}
.textLoginGG{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding-bottom: 15px;
}
.iconGoogleDiv{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
   
}
.image-login{
    width: 100vw;
    height: 100vh;
    display: flex;
 
  background-size: cover;
   
    align-items: center;
    justify-content: center;

}
.containerLoginGg{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login-div{
    align-items: center;
    border-radius: 100px 0;
    border: 1px solid white;
   display: flex;
   flex-direction: column;
padding: 60px;
width: 100%;
color: rgb(97, 97, 97);
max-width: 300px;
height: 100vh;
max-height: 370px;
background-color: rgba(0, 0, 0, 0.123);

}
.form-login{
height: 100%;

}
.entrar{
  margin-bottom: 30px;  
}
.entrar span{
    
font-size: 20px;
font-weight: 700;
color: white;
font-family: sans-serif;
}
.form-login input::placeholder{
    color: rgb(151, 151, 151);
}
.form-login input{
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(0, 17, 53);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
width: 100%;
margin-bottom: 30px;
max-width: 100%;
height: 100%;
max-height: 35px;
}

.form-login button{
    cursor: pointer;
    background-color: rgb(2, 70, 134);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
 width: 100%;
margin-bottom: 10px;
max-width: 315px;
height: 100%;
max-height: 40px;
}
.cad-login{
    margin-top: 20px;
}
.cad-login span{
    font-size: 16px;
    font-family: sans-serif;
}
.link-span{
    font-weight: 600;
    color: rgb(45, 82, 202);
}
.texto-link{
 color: rgb(255, 255, 255);   
}

