

.containerMetodo{
display: flex;
background: url(imagemNet.jpg);
background-size: cover;
height: 100vh;
align-items: center;
justify-content: center;
}
.FormMetodo{
    border: 1px solid white;
    display: flex;
    border-radius: 0 100px;
   
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 300px;
    padding: 30px 10px;
    max-width: 400px;
    
    
}
.liMt{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  
    display: flex;
    color: rgb(0, 24, 68);
    cursor: pointer;
    gap: 10px;
    width: 70%;
    align-items: center;
    list-style: none;
    height: 20px;
    padding: 20px;
}
.liMt:hover{
    filter: brightness(0.9);
}
.liMt2{

    display: flex;
    
    gap: 10px;
    
    
    
    height: 20px;

}
.iconMT{
    width: 30px;
}
.formMT{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.liMt:active{
    filter: brightness(0.9);
}
.spanMT{
    color: rgb(0, 25, 94);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
}