html {

 
  background-color: rgb(3,12,22);
}


@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
.listaPaiFilmes{
  z-index: 20; 
  padding-right: 10px;
}
.custom-prev-arrow{
  display: flex;
  position: absolute;
  box-shadow: 20px 0px 6px 5px #00000069;
  background-color: #00000069;
  cursor: pointer;
  z-index: 40;
  border: none;
  width: 60px;
  height: 200px;
}
.custom-next-arrow {
  right: 0;
  top: 0;
  width: 60px;
  height: 200px;
  box-shadow: -20px 0px 6px 5px #00000080;
  background-color: #00000080;
  border: none;
  display: flex;
  position: absolute;
align-items: center;
  cursor: pointer;
}

.custom-prev-arrow:hover{
  box-shadow: 20px 0px 6px 5px #00000080;
  background-color: #00000080;
}
.custom-next-arrow:hover {
  background-color: #00000080;
  box-shadow: -20px 0px 6px 5px #00000080;

  
}

  .setas:hover{

   transform: scale(1.3);
  }


.capa-Filme2 {
  width: 100%;
  align-items:normal;
  display: flex;
 
  border-radius: 10px;
  z-index: 5;
  padding:0px 0;
  transition: 0.1s all;
}
.imagem:hover {
  transform: scale(1.1);
  transition: 0.1s all;
  z-index: 25;
  
}
.imagem {
  transition: 0.1s all;
  margin-left: 10px;
  width: 150px;
  height: 200px;

}
.setas {
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.left{
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 60px;
  height: 200px;
position: absolute;

z-index: 90;
}
.right{
  align-items: center;
  justify-content: center;
  background-color: #00000065;
  display: flex;
  width: 60px;
  height: 200px;
  position: absolute;
  z-index: 30;
  right: 0;
}
.paitexto {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 2px;
  font-size: 15.5px;
  font-family: sans-serif;
}




.load {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 91vh;
}
.loadd {
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
  animation: loading 1s infinite;
}


.tituloFl {
  z-index: 100;
  display: flex;
  font-family: sans-serif;
  font-size: 11px;
  color: white;
  margin: 0;
  padding: 0px 25px;
}
.tituloSlide {
  z-index: 1;
  width: 60%;
  display: block;
  font-size: 3vw;
  color: white;
  font-family: sans-serif;
  margin-bottom: 30px;
  font-weight: bold;

}
.botao{
  display: flex;
 
}
.sombraTop{
  z-index: 39;
  box-shadow: 0px 20px 12px 45px rgba(3, 12, 22, 0.24);
}
.slides1{
  padding-bottom: 50px;
}
.container2{
  overflow: hidden;
}

.slide {
  display: flex;
  z-index: -1;
}
.resumoSlide {
  width: 400px;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.imgSlide {
  width: 100vw;
  overflow: hidden;
  height: 50vw;

  z-index: -2;
  filter: brightness(0.9);
}
.conjutoimg{
  display: flex;
  margin: 0;
  padding: 0;
}
.textoConjuntoSlide {
  position: absolute;
  top: 20vw;
  z-index: 1;
  width: 90%;
  margin: 40px;
  cursor: default;
}

.sombra {
 
  box-shadow: 0px -10px 20px 30px  rgb(3,12,22);
  width: 100%;
 
  z-index: -1;
 
  background-color: transparent;
}
.imgSlideDiv {
  
  display: flex;
  flex-direction: column;
  border: none;
  z-index: 1;
}
.botoesSlide {
  width: 90%;
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.assistirSlide {
  width: 130px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.452);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.verSlide {
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
}
.verSlide:hover, .assistirSlide:hover{
  filter: brightness(1.1);
  transform: scale(1.1);
}
.tituloCat span{
  font-weight:500;
  color: white;
  font-size: 19px;
  font-family: sans-serif;
  padding-left: 24px;
}
.tituloCat{
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (max-width: 480px) {
  html{
    height: 200vh;
    max-height: 120vh;
  }
  .tituloCat span{
    font-weight:500;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 14px;
}
.tituloCat{
    padding-bottom: 10px;
}
  .textoConjuntoSlide {
    position: absolute;
    top: 6vw;
    z-index: 1;
    width: 90%;
    margin: 20px;
    margin-left: 10px;
    cursor: default;
  }
  .assistirSlide {
    width: 70px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .verSlide {
    cursor: pointer;
    width: 110px;
    height: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
  }
  .resumoSlide {
    width: 240px;
   
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .botoesSlide {
    width: 90%;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  
  }
.Sliders2{
 display: flex;
 
}
.tituloSlide {
  z-index: 1;
  width: 60%;
  display: block;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: bold;

}
  .capa-Filme {
  width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 5;
    padding: 0;
    transition: 0.1s all;

  }

  .imagem {
    background-size: cover;
    width: 110px;
    height: 140px;
    
  }

  .custom-prev-arrow{
    display: flex;
    position: absolute;
    box-shadow: 20px 0px 6px 5px #00000069;
    background-color: #00000069;
    cursor: pointer;
    z-index: 40;
    border: none;
    width: 40px;
    height: 140px;
  }
  .custom-next-arrow {
    right: 0;
    top: 0;
    width: 40px;
    height: 140px;
    box-shadow: -20px 0px 6px 5px #00000080;
    background-color: #00000080;
    border: none;
    display: flex;
    position: absolute;
  align-items: center;
    cursor: pointer;
  }
  .left{
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 50px;
    height: 140px;
  position: absolute;
  cursor: pointer;
  
  z-index: 90;
  }
  .right{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #00000065;
    display: flex;
    width: 50px;
    height: 140px;
    position: absolute;
    z-index: 30;
    right: 0;
  }
  .setas {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


}
@media (min-width:481px) and (max-width:767px){

  html{
    height: 200vh;
    max-height: 120vh;
  }
  .tituloCat span{
    font-weight:500;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 14px;
}
.tituloCat{
    padding-bottom: 10px;
}
  .textoConjuntoSlide {
    position: absolute;
    top: 7vw;
    z-index: 1;
    width: 90%;
    margin: 20px;
    margin-left: 10px;
    cursor: default;
  }
  .assistirSlide {
    width: 85px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .verSlide {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
  }
  .resumoSlide {
    width: 250px;
   
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .botoesSlide {
    width: 90%;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  
  }
.Sliders2{
 display: flex;
 
}
.tituloSlide {
  z-index: 1;
  width: 60%;
  display: block;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 15px;
  font-weight: bold;

}
  .capa-Filme {
  width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 5;
    padding: 0;
    transition: 0.1s all;

  }

  .imagem {
    display: flex;
    width: 110px;
    height: 140px;
    
  }

  .custom-prev-arrow{
    display: flex;
    position: absolute;
    box-shadow: 10px 0px 6px 5px #00000069;
    background-color: #00000069;
    cursor: pointer;
    z-index: 40;
    border: none;
    width: 30px;
    height: 140px;
  }
  .custom-next-arrow {
    right: 0;
    top: 0;
    width: 30px;
    height: 140px;
    box-shadow: -10px 0px 6px 5px #00000080;
    background-color: #00000080;
    border: none;
    display: flex;
    position: absolute;
  align-items: center;
    cursor: pointer;
  }
  .left{
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 140px;
  position: absolute;
  cursor: pointer;
  
  z-index: 50;
  }
  .right{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #00000065;
    display: flex;
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: 30;
    right: 0;
  }
  .setas {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


}
@media (min-width:768px) and (max-width:991px){
  html{
    height: 200vh;
    max-height: 120vh;
  }
  .tituloCat span{
    font-weight:500;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 14px;
}
.tituloCat{
    padding-bottom: 10px;
}
  .textoConjuntoSlide {
    position: absolute;
    top: 7vw;
    z-index: 1;
    width: 90%;
    margin: 20px;
    margin-left: 10px;
    cursor: default;
  }
  .assistirSlide {
    width: 85px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  .verSlide {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
  }
  .resumoSlide {
    width: 250px;
   
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .botoesSlide {
    width: 90%;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  
  }
.Sliders2{
 display: flex;
 
}
.tituloSlide {
  z-index: 1;
  width: 60%;
  display: block;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 15px;
  font-weight: bold;

}
  .capa-Filme {
  width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 5;
    padding: 0;
    transition: 0.1s all;

  }

  .imagem {
    display: flex;
    width: 110px;
    height: 140px;
    
  }

  .custom-prev-arrow{
    display: flex;
    position: absolute;
    box-shadow: 10px 0px 6px 5px #00000069;
    background-color: #00000069;
    cursor: pointer;
    z-index: 40;
    border: none;
    width: 30px;
    height: 140px;
  }
  .custom-next-arrow {
    right: 0;
    top: 0;
    width: 30px;
    height: 140px;
    box-shadow: -10px 0px 6px 5px #00000080;
    background-color: #00000080;
    border: none;
    display: flex;
    position: absolute;
  align-items: center;
    cursor: pointer;
  }
  .left{
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 140px;
  position: absolute;
  cursor: pointer;
  
  z-index: 50;
  }
  .right{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #00000065;
    display: flex;
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: 30;
    right: 0;
  }
  .setas {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}