
.paifav{
    display: flex;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    width: 25vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.pai-fav-ul{
   
   display: flex; 
   flex-flow: wrap;
   align-items: center;
   gap: 20px;
  row-gap: 60px;
}
.pai-fav-ul li{
    list-style: none;
}

.titulofav2{
    color: white;
    font-size: 20px;
    width: 100%;
    font-family: sans-serif;
}
.detalhesfav{
    display: flex;
    gap: 20px;
    align-items: center;

}
.fav2{
    padding-top: 80px;
    color: rgb(107, 107, 107);
    display: flex;
    justify-content: start;
    margin-left: 50px;
    align-items: center;
    font-family: sans-serif;
}
.vaziofav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    font-family: sans-serif;
    font-size: 30px;
}
.detalhesfavbutton2{
    display: flex;
    width: 130px;
     height: 40px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
   color: white;
    background-color: rgb(58, 58, 58);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    font-size: 15px;
}
.buttonfav{
    display: flex;
    font-family: sans-serif;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.imgfav img{
    width: 100%;
    
    border-radius:10px ;
}
@media (max-width:480px) {
    .paifav{
        display: flex;
        background-color: rgb(58, 58, 58);
        border-radius: 10px;
        width:80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
  
    .detalhesfavbutton2{
        display: flex;
        width: 120px;
         height: 40px;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
       color: white;
        background-color: rgb(58, 58, 58);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 10px;
        font-size: 13px;
    }
    .buttonfav{
        display: flex;
        font-family: sans-serif;
        width: 120px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        font-size: 13px;
        cursor: pointer;
        color: black;
    }
    .fav2{
        padding-top: 80px;
        color: rgb(107, 107, 107);
        display: flex;
        justify-content: center;
        margin-left: 0px;
        align-items: center;
        font-family: sans-serif;
    }
    .titulofav2{
        color: white;
        font-size: 20px;
        width: 100%;
        font-family: sans-serif;
    }
    .imgfav img{
        width: 100%;
        max-width: 500px;
        border-radius:10px ;
    }
    .pai-fav-ul{
        display: flex; 
        flex-flow: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
       row-gap: 60px;
       padding: 0;
       margin: 0;
     }
     .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .pai-fav-ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}