html {
 
  overflow-x: hidden;
}
body {
 
  overflow-x: hidden;
}
.MenuLat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icons-menu {
  display: flex;

  justify-content: center;
  width: 65px;
  height: 65px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.opcoes-menu {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}
.opcoes-menu2 {
  margin-top: 4px;
}
.pai-pesquisa {
  align-items: center;
  display: flex;
  gap: 30px;
}
.icon-menu2 {
  width: 20px;
  height: 20px;
  color: rgb(255, 255, 255);
}
.icons-menu:hover {
  border-radius: 60px;
  background-color: rgba(41, 41, 41, 0.863);
  transition: 0.2s all;
}
.menuHamb {
  display: none;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
}
.paiMenu {
  display: flex;
  align-items: center;
  z-index: 40;
}
.boxMenu {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.listaMenu{
    display: none;
}

.listaMenu2 {
  transform: translateX(10rem);
  transition: 0.3s all;
  display: flex;
}
.opcoes-menu3 {
  font-size: 16px;
  font-family: sans-serif;
}
.blur {
  filter: blur(10px);
  transition: 0.3s all;
}
.lista-menu {
  padding: 5px;
  list-style: none;
  display: flex;
  width: 100%;
  height: 30px;
  background-color: rgb(7, 7, 97);
  align-items: center;
  gap: 5px;
}


@media (max-width: 480px)  {
  .MenuLat {
    display: none;
  }
}
@media (min-width:481px) and (max-width:991px){
  .MenuLat {
    display: none;
  }
}
