
.slide {
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding-bottom: 20%;
  }
  .shadow-aleatorio-desk{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    z-index: 1;
    background: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
  }
  .textoConjuntoSlide {
    left: 4%;
    position: absolute;
    top: 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    width: 36%;
    margin: 0px;
    cursor: default;
  
  }
  .conjunto-aleatorio-desk{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .resumoSlide {   
    font-size: 1.2vw;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(2, 12, 22, .45);
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .div-title-img-desk{
    width: 100%;
  
    display: flex;
  
  }
  .title-film-desk{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
  }
  .sombras-desk{
    left: 0;
    position: absolute;
    right: 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, rgb(3, 12, 22)68%, rgb(3, 12, 22));
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: 0px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
    z-index: 1;
  }

.div-img-background-desk{
  width: 100%;
}
  .img-desk-film-aleatorio {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    z-index: 0;
    box-shadow: none;
    background-size: cover;
    background-position: 50%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .ConjuntoSlide{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    height: auto;
  }
  .conjutoimg{
    display: flex;
    margin: 0;
    padding: 0;
  }

  .botoesSlide {
    width: 90%;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 1rem;
 
  }
  .div-botoesSlide-desk{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .assistirSlide {
    
 
    border: none;
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
  }
  .bnt-infoSlide-desk{
    width: 15rem;
   
    border: none;
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    background-color: rgba(109, 109, 110, 0.7);;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
  }
  .text-bnt-play span{
    display: flex;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
    color: black;
  }
  .text-bnt-info span{
    display: flex;
    height: 30px;
    width: 100%;
    font-size: 1.1rem;
    align-items: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
  }
  .icon-bnt-play{
    width: 2.5rem;
    height: 2.5rem;
    color: black;
}
.icon-bnt-info{
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}
.div-desk-icon{

  display: flex;
  align-items: center;
}
  .verSlide {
    cursor: pointer;
    width: 200px;
    height: 40px;
    
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
  }
  .verSlide:hover, .assistirSlide:hover{
    filter: brightness(1.1);
    transform: scale(1.1);
  }

  .boxShadow{
    display: flex;
    justify-content: center;
   
}
.shadow-background-div{
    width: 100%;
    height: 1px;
    position: relative;
    top: 100vh;

}

.imgBackground-desktop{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    box-shadow: none;
    background-size: cover;
    background-position: 50%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

 @media (max-width:900px) {
  .slide{
    margin-bottom: 0px;
  }
 }