.header-cadastro {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid #e7e7e7;
}
.header-cadastro nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
}
.img-cadastro-logo {
  width: 220px;
  height: 50px;
  object-fit: cover;
}
.bnt-entrar-cadastro {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #63afff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.div-entrar-cadastro {
  width: 100px;
  height: 30px;
}

.container-cadastro {
  width: 100vw;
  background: linear-gradient(90deg, #e7ffff 0%, #ffffff 50%, #e7ffff 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.passos-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Esconde os passos fora da tela */
}

.passo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(100%); /* Começa fora da tela pela direita */
}

.passo.active {
  transform: translateX(0); /* No centro */
  opacity: 1;
}

.passo.left {
  transform: translateX(-100%); /* Sai para a esquerda */
  opacity: 0;
}

.passo.right {
  transform: translateX(100%); /* Sai para a direita */
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .header-cadastro {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
  }
  .header-cadastro nav {
    width: 100vw;
    height: 50px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #e7e7e7;
  }
  .nav-cadastro {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
  }
  .img-cadastro-logo {
    width: 160px;
    height: 30px;
    object-fit: cover;
  }
  .bnt-entrar-cadastro {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: #63afff;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  .div-entrar-cadastro {
    width: 100px;
    height: 30px;
  }
}
