.pesquisa2{
     padding-top: 80px;
    display: flex;
    flex-direction: column;
  
  
    width: 100%;  

}

.msg-notfould{
    color: white;
}
.titulo-results{
    color: white;
}

.msg-n{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-erros{
    width: 300px;
}
.filmes-ul{
    display: flex;
  justify-content:flex-start;
  gap: 10px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.imagem:hover{
transform: scale(1.1);
}

.lista-filmes{
    list-style: none;
}
@media (Max-width:480px) {
    .filmes-ul{
        display: flex;
        width: 90%;
      justify-content:flex-start;
      gap: 10px;
      row-gap: 60px;
      flex-wrap: wrap;
    }
    .imagem-pesquisa{
        max-width: 90px;
        max-height: auto;
        width: 100%;
        height: auto;
    }
}
