.input-pesquisa{
    z-index: 40;
    width: 250px;
    height: 30px;
    display: flex;
border: none;
font-family: sans-serif;
font-size: 16px;
outline: none;
padding-left: 10px;
background-color: transparent;
color: white;
}
.div-input{
    overflow: hidden;
    width: 0px;
    transition: 0.5s all;
}
.width1{
    width: 250px;
    transition: 0.5s all;

}
::placeholder{
    color: rgb(209, 209, 209);
}
.botao-pesquisa{
display: flex;
width: 42px;
height: 32px;
cursor: pointer;
border: none;
background-color: transparent;
align-items: center;
justify-content: center;
}
.pesquisa{
    display: flex;
    align-items: center;
  
}
.lupa {
    color: white;
    width: 25px;
    height:auto;
}
.pesquisaAtiva{
  background-color: rgba(0, 0, 0, 0.726); 
  border: 1px solid rgb(95, 95, 95);  
}
@media (max-width:480px) {
    .pesquisa{
        display: flex;
        border-radius:  4px;
        align-items: center;
        border: none;
    }
    .input-pesquisa{
        z-index: 40;
       
   
        width: 100%;
        height: 45px;
        display: flex;
    border: none;
    border-radius: 4px 0 0px 4px;
    font-family: sans-serif;
    font-size: 13px;
    outline: none;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    }
    .botao-pesquisa{
        border-radius: none;
        display: flex;
        max-width:100%;
        max-height: 50px;
        width:30px ;
       margin-right: 10px;
        cursor: pointer;
        border: none;
        background-color: rgba(39, 39, 39, 0.158);
        align-items: center;
        justify-content: center;
        }
        .lupa {
            background-color: transparent;
            color: white;
            max-width: 100%;
            width: 20px;
            height:auto;
            
        }
}
@media (min-width:481px) and (max-width:767px){
    .pesquisa{
        display: flex;
        height: 100%;
        border-radius:  4px;
        align-items: center;
        border: none;
    }
    .input-pesquisa{
        z-index: 40;
     
        width: 100%;
        height: 20px;
        display: flex;
    border: none;
    border-radius: 4px 0 0px 4px;
    font-family: sans-serif;
    font-size: 13px;
    outline: none;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    }
    .botao-pesquisa{
        border-radius: 0px 4px 4px 0px;
        display: flex;
        max-width:45px ;
 
        width:100% ;
        height: 22px ;
        cursor: pointer;
        border: none;
        background-color: rgb(39, 39, 39);
        align-items: center;
        justify-content: center;
        }
        .lupa {
            background-color: rgb(39, 39, 39);
            color: white;
            max-width: 27px;
            width: 100%;
            height:auto;
            
        }
}