html {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(27, 28, 34);
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(73, 73, 73);
  border-radius: 10px;
}

.titulosSeme2 span {

  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px 0;
}
.titulosSeme2 {
  padding: 20px 0;
}
.conjunto{
  display: flex;
  



}
.subtitulo {
  color: white;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  display: flex;
}
.capa {
  z-index: -1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
 top: 0;
 left: 0;
 right: 0;
  position: absolute;
  filter: brightness(0.8);
}

.tituloFilme {
 
  width: 100%;

  display: flex;
  color: white;
}
.imagemFilmes {
  width: 150px;

  min-width: 100%;
}
.imagemFilmes:hover {
  transform: scale(1.1);
}
.FilmePaiSg {
  display: flex;
  align-items: center;
  padding: 9rem 0;
  overflow-y: hidden;
  gap: 20px;
  overflow-x: scroll;
}
.FilmePaiSg::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgb(27, 28, 34);
  width: 10px;
}

.FilmePaiSg::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
}
.generosid {
 
  display: flex;
  
}
.date-classf-genere{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.generos {
  display: flex;
  cursor: default;
  gap: 5px;
}
.nameGenere {

  border-radius: 20px;
  padding: 6px;
  background-color: rgb(24, 29, 51);
  color: rgb(197, 197, 197);
  font-size: 12px;
  font-weight: bold;
}

.info {
  overflow-x: hidden;
  display: flex;
  border-radius: 8px;
  margin-top: 130px;
  margin-left: 30px;
  padding: 20px;

  width: 40vw;
  height: 35vw;
  flex-direction: column;
  background-color: rgba(27, 28, 34, 0.87);
  box-shadow: 0px -10px 30px 30px rgba(27, 28, 34, 0.87);
}
.info::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgba(27, 28, 34, 0.63);
  width: 5px;
}

.info::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
}

.sinopse {
  width: 100%;
  font-size: 15px;

  color: rgb(173, 173, 173);
}
.data {
display: flex;
gap: 10px;
}
.horas-data-page{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: rgb(173, 173, 173);
}
.avalia {
  color: rgb(173, 173, 173);

  font-weight: 200;
  font-size: 17px;
}
.bnt-page-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;

}
.bnt-text-page{
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  color: white;

}
.icon-salvar-page{
  width: 20px;
  height: 20px;
  color: white;
}
.salvar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  background-color: brown;

  cursor: pointer;
  font-size: 17px;
}

.buttons {
  margin: 15px 0;
justify-content: space-evenly;
  display: flex;
}
.buttonPlay{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.trailerPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 45px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none;

  cursor: pointer;
  
}
a {
  text-decoration: none;
}
.salvarFilme {
  width: 20px;
  height: auto;
}
.span-play-page{
  color:black;
  font-size: 14px;
  font-weight:500;
  font-style: normal;
}
.playFilme {
  width: 30px;
  height: 30px;
  height: auto;
}
.pai_info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.detalhes {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: 30px;
}
.BoxL {
  width: 25px;
  height: 25px;

  font-size: 25px;
  font-weight: 600;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(16, 165, 29);
}
.Box10 {
  width: 25px;
  height: 25px;

  font-size: 25px;
  font-weight: 600;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(32, 144, 209);
}
.Box12 {
  width: 25px;
  height: 25px;

  font-size: 20px;
  font-weight: 600;
  color: white;
  align-items: center;
  display: flex;
  padding: 2px;
  justify-content: center;
  background-color: rgb(228, 213, 0);
}
.Box14 {
  width: 25px;
  height: 25px;

  font-size: 20px;
  font-weight: 600;
  color: white;
  align-items: center;
  display: flex;
  padding: 2px;
  justify-content: center;
  background-color: rgb(228, 137, 0);
}
.Box16 {
  width: 25px;
  height: 25px;
  
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(228, 34, 0);
}
.dateClassf {
  display: flex;
  gap: 2px;
  align-items: center;
}
.Box18 {
  width: 25px;
  height: 25px;
 
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.sombras{
  display: none;
}
@media (max-width: 480px) {
  .buttons{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .bnt-page-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  }
  .bnt-text-page{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    color: white;
  }
  .icon-name-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon-salvar-page{
    width: 25px;
    height: 25px;
    color: white;
  }
  .capaMobile {
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: 75vh;
    display: flex;
    background-size: cover;
    position: relative;
    filter: brightness(0.6);
  }
  .salvar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: white;
    border-radius: 10%;
    border: 1px solid white;
    background-color: #004aad;
  
    cursor: pointer;
    font-size: 17px;
  }
  .date-classf-genere{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .trailerPlay{
    width: 90vw;
   
  }
  .trailerPlay span{
    font-weight: 600;
    color: black;
  }
  .playFilme {
    width: 30px;
    height: auto;
  }
  .div-titulofilme{
   

    padding: 0;
    margin: 0;
  }
  .tituloFilme {
  font-weight: 400;
  font-style: normal;
    width: 100%;
    margin-left:20px ;
    font-size: 24px;
    
    color: white;
  }
  .buttonPlay{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .divImgfilme{
width: 100vw;
height: 60vh;

overflow: hidden;
  }
  .sombras{
display: none;
box-shadow: 0px -10px 30px 50px rgba(216, 4, 4, 0.5);
  }
  .info {
    overflow-x: auto;
    display: flex;
    border-radius: 0px;
    margin:0;
    padding: 0px;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: rgba(27, 28, 34, 0.87);
  }

  .subtitulo {
    color: white;
    font-size: 16px;
      width: 350px;
     font-weight: 300;
     
     margin-bottom: 5px;
     font-style: normal;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      -webkit-box-orient: vertical;
 
  }
  .data {
    color: rgb(173, 173, 173);

    font-weight: 300;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .generosid span {
    color: rgb(141, 141, 141);
  
    font-size: 14px;
  }
  .generos {
    display: flex;
    cursor: default;
    gap: 1px;
  }
}
