.containerPerfil{
    display: flex;
   
    align-items: center;
    height: 100vh;
    flex-direction: column;
    row-gap: 40px;
}
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.combo-perfil{
    display: flex;
    gap: 20px;
}